@import '../global.scss';
.wrapper {
  border: 1px solid black;
  position:fixed;
  top:0px;
  left:0px;
  background-color: $bg-secondary-color;
  z-index: $popup-z-index;
  visibility:hidden;
}
.playlist{
  width: 90vw;
  max-width: 500px;
}