@import '../global.scss';
.wrapper {
  border: 1px solid black;
  position:fixed;
  top:0px;
  left:0px;
  background-color: $bg-secondary-color;
  z-index: 300;
}

.wrapper--hide {
  visibility:hidden;
}