@import "/src/global.scss";

.header{
    height: var(--header-size);
    display : flex;
    padding : $header-padding-size;
    z-index: $header-z-index;
    max-width: 1500px;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
.header__right-contents{
    display : flex;
    align-items: center;
}
.header__left-contents{
  display : flex;
    align-items: center;
    padding: 10px;
}
.main-contents{
  height: calc(100vh - var(--header-size));
  @include append_scrollbar;
}