@import '/src/global.scss';

.music-list{
    height: 100%;
    overflow: auto;
    @include append_scrollbar;
}
.wrapper{ 
    display: flex;
    align-items: center;
    width: 100%;
}
.wrapper--selected{
    background-color: rgba(255, 255, 255, 0.1);
}

.drag_handle{
    width: 32px;
    padding-left: 10px;
}