.musicList{
    list-style-type: none;
}
.controller{
    display: flex;
    flex-direction: column;
}
.controller-append{
    display: flex;
    justify-content: center;
}
.musiclist-wrapper{
    overflow-y: scroll;
    overflow-x: hidden;
}
.roop-Controller{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}