@import '../global.scss';

.grid-container{
  max-height: 350px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0 10px 0 20px;
  gap:10px;
  @media (max-width: 350px){
    padding: 0 5px 0 10px;
    gap:5px;
    grid-template-columns: repeat(2,1fr);
  }
  @include append_scrollbar;
}
.grid-item{
  padding:1px;
  & > div{
    height:100%;
    padding:1px;
    background-color: $bg-secondary-color;
  }
}