@import "../global.scss";

.hamburger-btn {
    height: $header-size;
    width: $header-size;    
    border: 0px;
    background-color: transparent;
}
.hamburger-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 1px;    
    
}
@mixin hamburger-line (){
    width: 27px;
    height: 2.5px;    
    transition : all 0.5s ease;
    background: white;
}

@mixin hamburger-pseudo (){
    content: "";
    display: block;
    position:relative;
}

.hamburger {
    @include hamburger-line();
    &:after{
        @include hamburger-line();
        @include hamburger-pseudo ();
        top : -10px;
    }
    
    &:before {
        @include hamburger-line();
        @include hamburger-pseudo ();
        top : 7px;
    } 
}

.hamburger--active {
    transform: rotate( 45deg );
    &:after{
        top : -2px;
        transform: rotate( -90deg );
    }
    
    &:before {
        top : 0px;
        transform: rotate( -90deg );
    }
}