.more-vert{
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        background-color: rgba(255,255,255,0.1);
    }
}