@import "../global.scss";
.wrapper{
    background-color: $bg-secondary-color;
    width: 240px;
    padding: 8px 0;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 2px;
}
.options{
    width: 100%;
    display: flex;
    height: 48px;
    align-items: center;
    padding: 8px 0;
    &:hover{
        background-color: rgba(255,255,255,0.1);
        cursor: pointer;
    }
}
.options__icon{
    width: 24px;
    height: 24px;
    margin: 8px;
    fill: #aaa;
}
.options__text{
    margin: 0 8px;
}