@import '../global.scss';

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px;
    grid-gap: 40px 10px;
    gap: 40px 10px;
    @media (max-width: 350px){
        margin: 10px;
        grid-template-columns: repeat(2,1fr);
    }
    @media (min-width: 950px) and (max-width: 1200px){
        margin: 20px;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 50px 20px;
        gap: 50px 20px;
      }
    @media (min-width: 1201px){
        margin: 25px;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 60px 25px;
        gap: 60px 25px;
    }
}


.wrapper{
    & h1{
        margin: 15px 0 15px 15px;        
    }
    & select{
        margin-left: 25px;
        background-color: $bg-light-grey;
        padding:1px;
        color: white;
        width: 100px;
        height: 25px;
        border-radius: 3px;
        & option{
            background-color: white;
            color:black;
        }
    }
}
.add-icon{
    width: 100%;
}

.thumbnail__play-btn{
    position:absolute;
    top: 60%;
    left: 60%;
    visibility: hidden;    
    border-radius: 50%;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        visibility: initial;
    }
    & div{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.7);
        width: 42px;
        height: 42px;
        padding: 5px;
        border-radius: 50%;
        transition: all 0.2s ease;
    }
    & div:hover{
        width: 48px;
        height: 48px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
.thumbnail__option-btn{
    position:absolute;
    top: 7%;
    left: 85%;
    visibility: hidden;
    cursor: pointer;
}