.wrapper{
    z-index: 100;
    height: 50px;
    position: fixed;
    bottom: 0;
}
.wrapper_controller{
    position: fixed;
    display: flex;
    background-color: azure;
}
.wrapper_progress-bar{
    top:0px;
    position: absolute;
    border: 1px solid red;
    transform: translateY(-50%);
    width: 100vw;
    height:20px;
}