@import '/src/global.scss';
$padding-size : 5px;
.wrapper{
    
    width: 100%;
    height: 100%;
    margin:auto;
}
.wrapper--expand{
    display: flex;
    justify-content: center;

    position: absolute;
    z-index: $header-z-index + 10;
    padding: $padding-size;
    border: 1px solid #555555;
    top:0px;
    left: 0px;
    width: calc(100vw - 2*$padding-size - 2px);
    height: fit-content;        
    background-color : $bg-color;
}

.close-btn{
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 4px;
}

.search-panel{
    width: 100%;
    max-width: 1450px;
}
textarea{
    width: calc(100% - 12px);
    margin: 7px;
    border: 1px solid white;
    border-radius: 2px;
    overflow-y:scroll;
    max-height: 200px;
    resize: none;
    color:$font-color;
    font-size: 16px;
    background-color: $bg-secondary-color;
}

.text-wrapper{
    position: relative;    
}
.search-button{
    padding: 4px;
    width: 32px;
    height: 32px;
}
.search-button--expand{
    border-radius: 10%;
    float: right;
}
.expanded-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}