.App {
  text-align: center;
  
}
body{
  overflow: hidden;
}
ul{
  list-style:none;
  padding: 10px;
}
header{
  height:45px;
}
.nav-btn {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
  list-style:none;
}
.title{
	padding: 10px;
    z-index: 100;
    font-weight: 600;
    font-family: sans-serif;

}
.curMusic{
  border: 1px solid black;
}
.navigation{
	background-color: white;
	z-index: 10;
}
.navigation{
	background-color: white;
	z-index: 10;
	transform: translateY(0px);
	background-color: rgba(255,255,255,0.8);
	transition: all 0.6s ease;
}
.navigation--hide{
	transform: translateY(-200%);
	transition: all 0.6s ease;
}