@import './global.scss';

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.App {
  text-align: center;
  
}
body{
  overflow: hidden;
  padding:5px;
  color: $font-color;
  background-color: $bg-color;
  font-family: $font-family;
}
ul{
  list-style:none;
  padding: 10px;
}
header{
  height:45px;
}
main{
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
  list-style:none;
}
.title{
	padding: 10px;
    z-index: 100;
    font-weight: 600;
    font-family: sans-serif;

}
.curMusic{
  border: 1px solid black;
}