.App {
  text-align: center;
  
}
ul{
  list-style:none;
  padding: 10px;
}
main{
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
  list-style:none;
}
.playerwrapper{
	border: 1px solid black;

}
.curMusic{
  border: 1px solid black;
}