$header-size : 30px;
$player-size : 64px;
$header-padding-size : 5px;
$header-footer-size: $header-size + $player-size + 2 * $header-padding-size;
$scrollbar-width: 12px;

$menu-button-z-index : 1000;
$popup-z-index: 400;
$sidemenu-z-index : 300;
$header-z-index : 200;
$player-z-index : 100;

$bg-color: #030303;
$bg-secondary-color: #2c2c2c;
$bg-grey :#212121;
$bg-light-grey: #4c4c4c;
//#383838
$font-color: white;
$font-secondary-color : #909090;
$font-family: Roboto, 'Noto Sans KR',Arial,sans-serif;
@mixin style-blueblack {
    background-color: $blueblack;
    color : $reverse-blueblack;
}
@mixin style-reverse-blueblack {
    background-color: $reverse-blueblack;
    color : $blueblack;
}

@mixin append_scrollbar {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $bg-light-grey #717171;
    &::-webkit-scrollbar {
        //@function:#f4f4f4;
        width:12px;
    }
    
    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        //background-color:#f4f4f4;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color:#717171;
    }
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color:$bg-light-grey;
    }    
    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
        display:none;
    }
}
@mixin flex-wrapper{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column; 
}
@mixin flex-element (){
    flex-grow: 0;
    flex-shrink : 0;
    flex-basis :auto;
}
@mixin header1() {
    font-size: 6vw;
    padding: 20px;
    border-bottom: 1px solid #f48600;
    @media screen and (max-width: 768px){
        font-size: 12vw;
    }
}
@mixin header2() {
    margin:0;
    font-size: 8vw;
    @media screen and (max-width: 768px){
        font-size: 15vw;
    }
}