@import "global.scss";

.header{
    height : $header-size;
    display : flex;
    padding : $header-padding-size;
    z-index: $header-z-index;
    justify-content: space-between;
    align-items: center;
}
.header__right-contents{
    display : flex;
    align-items: center;
}