@import "global.scss";

.header{
    height : $header-size;
    display : flex;
    padding : $header-padding-size;
    z-index: $header-z-index;
    justify-content: space-between;
    align-items: center;
}
.header__right-contents{
    display : flex;
    align-items: center;
}
.main-contents{
    margin: auto;
  max-width: 1450px;
  @media (min-width: 950px) and (max-width: 1200px){
    max-width: 950px;    
  }
  @media (min-width: 1201px) and (max-width: 1570px){
    max-width: 1200px;    
  }
}