.music-player{
    border: 1px solid black;
    height: 300px;
}

.player-detail{
    z-index: 10;
	transition: all 0.6s ease;
}
 .player-detail__hide{
    transform: translateY(100%);
    visibility: hidden;
	transition: all 0.6s ease;
}