@import './global.scss';

.wrapper{
    top:0px;
    position: absolute;
    height:20px;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    width: 100%;
    & span{
        position:fixed;
        display:none;
        transform: translate(-50%, -25px);
        font-size: small;
        background-color: #383838;
        padding: 2px 7px;
        border-radius: 4px;
    }

    &:hover span{
        display:initial;
    }
}

.progress-bar{
    background-color: $bg-light-grey;
    width: 100%;
    //#383838 #4c4c4c
}
.progress{
    border: 2px solid red;
    background-color: red;
}