@import "./global.scss";
.wrapper{
    width:170px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.volume-controller{
    width:120px;
    height: 25px;
    background-color:$font-secondary-color;
}
.volume-controller__slider{
    width: 100%;
    height: 48%;
    background-color: $bg-grey;
}
.volume-controller__bar{
    width: 100%;
    height: 3px;
    background-color: white;
}
.mute-btn{
    padding-top: 5px;
    margin: 5px;
}