@import '/src/global.scss';
.wrapper{
    padding: 24px;
    @media (max-width:500px){
      padding:12px;
    }
  }
  
.formbox-item{
    margin-bottom: 24px;
    &:focus-within .formbox-item__label{
        color: #3ea6ff;
        transition: all 0.5s ease;
    }
}
  .formbox-item--readonly{
    margin-bottom: 24px;
    &:focus-within .formbox-item__label{
        color: inherit;
    }
    &:focus-within .formbox__input:focus{
      outline: inherit;
      border-bottom: 1px solid;
    }
}
  
  .form-item__label{
    font-size: small;
  }
  .formbox__input{
    background-color: transparent;
    color: white;
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    height: 30px;
    &:focus{
      outline: 0;
      border-bottom: 2px solid #3ea6ff;      
      transition: all 0.7s ease;
    }
}
  .formbox-actions{
    display: flex;
    align-items: center;
      justify-content: flex-end;
  }
  .formbox-actions__button{
    width: 70px;
    height: 40px;
    font-weight: 300;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
      justify-content: center;
      align-items: center;
  }
  .formbox-actions__button--white{
    background-color: white;
    color: $bg-color;
  }